@use '../../scss/variables' as *;

.divider {
  position: relative;
  width: 100%;
  overflow: visible;
  z-index: 10;
  pointer-events: none;
  margin: 0px 0 -200px;
  height: 60vh;



  &__wave {
    width: 100%;
    height: 34rem;
    display: block;
  }

  &__dog {
    position: absolute;
    top: 20px;
    right: 7%;
    width: 110px;
    height: auto;
    z-index: 11;
    transform: rotate(-5deg);
    transform: scale(2);
  }
}

/* ========== Tablet ========== */
@media (max-width: 991px) {
  .divider {

    &__wave {
      width: 100%;
      height: auto;
      display: block;
    }



    &__dog {
      width: 80px;
      bottom: 10px;
      right: 16%;
    }
  }
}

/* ========== Mobile ========== */
@media (max-width: 576px) {
  .divider {
    height: 40vh;

    &__wave {
      width: 100%;
      height: auto;
      display: block;
    }


    &__dog {
      width: 60px;
      bottom: 10px;
      right: 16%;
    }
  }
}