@font-face {
  font-family: 'Rockwell Bold';
  src: url('../assets/fonts/ROCKB.TTF') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Rockwell Extra Bold';
  src: url('../assets/fonts/ROCKEB.TTF') format('truetype');
  font-weight: 800; // Extra Bold
  font-style: normal;
}
