$primary-red: #e32223;
$primary-yellow: #FFC548;
$dark-color: #1E1E1E;
$light-color: #ffffff;

// Tipografías
$font-main: 'Nunito', sans-serif;
$font-rockwell-bold: 'Rockwell Bold', serif;
$font-rockwell-extrabold: 'Rockwell Extra Bold', serif;

// Layout
$container-width: 1200px;
$navbar-height: 80px;