@use "sass:color";
@use 'variables' as *;
@use 'fonts';

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: $dark-color;
  font-family: $font-main;
  line-height: 1.4;
  overflow-x: hidden;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px;
}

// Global Section Styles
section {
  min-height: 100vh;
  padding: 120px 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}